https://docs.python.org/3/library/sys.html
https://pypi.org/project/requests/
https://docs.python.org/3/library/sqlite3.html
https://pandas.pydata.org/docs/reference/api/pandas.Timestamp.html

python -m pip install requests

pip install pandas
pip install numpy